version: "3.1"

services:
    php:
        build:
            context: .
            dockerfile: Dockerfile
        restart: unless-stopped
        tty: true
        ports:
            - "8080:8080"
        volumes:
            - ./:/app/
        networks:
            - spiral-app

    mysql:
        image: mysql:8
        restart: unless-stopped
        command: "
            --default-authentication-plugin=mysql_native_password
        "
        environment:
            - MYSQL_DATABASE=app
            - MYSQL_ROOT_PASSWORD=toor
            - MYSQL_ALLOW_EMPTY_PASSWORD=1
        ports:
            - "3308:3306"
        volumes:
            - mysql-data:/var/lib/mysql
        networks:
            - spiral-app

    redis:
        image: redis:6.0
        restart: unless-stopped
        ports:
          - "6379:6379"
        volumes:
            - redis-data:/data
        networks:
            - spiral-app

    rabbitmq:
        image: rabbitmq:3.8-management
        restart: unless-stopped
        ports:
            - "15677:15672"
        environment:
            RABBITMQ_DEFAULT_USER: guest
            RABBITMQ_DEFAULT_PASS: guest
        networks:
          - spiral-app

volumes:
    mysql-data: { }
    redis-data: { }

networks:
    spiral-app:
        driver: bridge
        ipam:
            driver: default
            config:
                - subnet: 150.150.150.0/28
